/* ===== HEADER ===== */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
  gap: 40px;
  height: 293px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: none;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.header__links-list-item {
  list-style: none;
}

.header__link {
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.header__link:hover {
  opacity: 0.7;
}

.header__link_active {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  justify-self: center;
}

.header__logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__address {
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
  max-width: 240px;
  justify-self: end;
}

.header__address a {
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* ===== COVER SECTION ===== */

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 165px 50px 62px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 3;
  font-size: 100px;
  font-weight: 700;
  color: white;
  line-height: 115px;
  text-transform: uppercase;
  letter-spacing: 30px;
  margin: 0;
}

.cover__title-span {
  display: block;
}

.cover__title-span_align-left {
  text-align: left;
}

.cover__title-span_align-center {
  text-align: center;
  margin-left: -30px;
}

.cover__title-span_align-right {
  text-align: right;
  margin-right: -5px;
}

.cover__description {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  height: 51px;
}

.cover__description-text {
  color: white;
  font-size: 22px;
  word-spacing: 20px;
  max-width: 388px;
  text-transform: uppercase;
  margin: 0;
}

.cover__button {
  border: 2px solid grey;
  padding: 12px 32px;
  background-color: transparent;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.cover__button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* ===== LOTS SECTION ===== */

.lots {
  padding: 50px 50px;
  width: 1100px;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 27px;
  text-transform: uppercase;
  padding-left: 40px;
  margin-top: 0;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  width: 1052px;
}

.lots__card-list-item {
  min-height: 450px;
  list-style: none;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  background-size: cover;
  background-position: center;
  width: 334px;
  height: 596px;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 2px;
  text-underline-offset: 3px;
  margin: 0;
}

.card__text {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.3;
  margin: 0;
}

.lots__look-more-link {
  width: 192px;
  height: 25px;
  margin-left: 40px;
  opacity: 1;
  border-bottom: 1px solid;
  text-underline-offset: 5px;
  text-decoration: none;
  display: inline-block;
}

.lots__look-more-link:hover {
  opacity: 0.7;
}

/* ===== ABOUT SECTION ===== */

.about {
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 25px;
  padding: 0 50px;
  width: 1100px;
  grid-template-rows: 240px 1fr;
  margin-top: 275px;
}

.about__column {
  grid-column: 1;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: auto;
}

.about__title {
  grid-column: 2;
  grid-row: 1;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  text-align: left;
  padding-right: 0;
  align-self: center;
}

.about__text {
  grid-column: 2;
  grid-row: 2;
}

.about__text p {
  font-size: 20px;
  line-height: 1.5;
  margin: 0 0 25px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

/* ===== FOOTER ===== */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 90px 50px;
  background-color: #f6f6f6;
  gap: 50px;
  width: 1100px;
  height: 180px;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
}

.address a {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.address p {
  margin: 0;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.footer__menu-list-item {
  margin-bottom: 16px;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: none;
}

.footer__menu-link:hover {
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: underline;
}

.footer__social-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 100%;
  height: 100%;
}

.footer__social-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
