.header {
    position: relative;
    width: 1100px;
    height: 293px;   /* фиксированная высота шапки */
    overflow: hidden;/* на всякий случай, чтобы ничего не вылазило вниз */
}

.header__menu {
    position: absolute;
    top: 133px;
    left: 50px;
    display: flex;
    align-items: baseline;
    gap: 13px;
    font-size: 18px;
    line-height: normal;
}

.header__link {
    text-decoration: none;
}

.header__link:not(.header__link_active) {
    border-bottom: 1px solid currentColor;
}

.header__link_active {
    border-bottom: none;
}

.header__menu-separator {
    font-size: 7px;
}

.header__logo {
    position: absolute;
    top: 92px;
    left: 478px;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.address {
    font-style: normal;
    font-size: 18px;
    line-height: 24.3px;
}

.header__address {
    position: absolute;
    top: 95px;
    left: 811px;
}

.address a {
    display: inline;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

.address a::after {
    content: '\A';
    white-space: pre;
}

.address p {
    margin: 0;
}


.cover {
    position: relative;
    width: 1100px;
    height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.cover__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 1100px;
    height: 757px;
    background-color: #000000;
    opacity: 0.6;
    pointer-events: none;
    z-index: 0;
}

/* чтобы текст был поверх overlay */
.cover__title,
.cover__description {
    position: relative;
    z-index: 1;
}

.cover__title {
    position: relative;
    width: 1000px;
    height: 385px;
    top: 165px;
    left: 50px;
    color: #fff;
}

.cover__title-line {
    position: absolute;
    font-weight: 700;
    font-size: 100px;
    line-height: 114%;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.cover__title-line_one {
    width: 286px;
    height: 114px;
    top: 0;
    left: 0;
}

.cover__title-line_two {
    width: 339px;
    height: 114px;
    top: 135px;
    left: 330.5px;
    text-align: center;
}

.cover__title-line_three {
    width: 387px;
    height: 114px;
    top: 270px;
    left: 613px;
    text-align: right;
}

.cover__description {
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 50px;          /* отступ снизу от границы cover */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 78px;             /* если нужен промежуток между текстом и кнопкой */
}


.cover__description-text {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 18px;
    line-height: 28px;
    letter-spacing: 0.1px;
}

.bet-button {
    background-color: transparent;
    color: #fff;
    border: 1px solid currentColor;
    padding: 12px 32px;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
}


/* LOTS */
.lots {
  width: 1052px;
  margin: 180px auto 0 24px;
  padding-bottom: 120px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 27px;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
  flex-wrap: nowrap;
}

.lots__card-list-item {
  flex: 0 0 334px;
  width: 334px;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 596px;
  background-size: 164% 100%;
  background-position: center;
  padding: 48px 40px 0;
  color: #fff;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.6;
}

.card__title,
.card__text {
  position: relative;
  z-index: 1;
  margin: 0;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
  line-height: 120%;
}

.card__text {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  position: relative;
  z-index: 1;
  margin: 0;
  padding-bottom: 48px;
}


.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: inline-block;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}


/* ABOUT */
.about {
  width: 1052px;
  margin: 0 24px 0 24px;
  padding-bottom: 180px;
  display: grid;
  grid-template-columns: 334px 693px;
  gap: 25px;
}

.about__column {
    display: flex;
    flex-direction: column;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  margin: 35px 0 0 47px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 135px;
    margin-left: 0px;
    margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
  padding: 0;
}

.about__text p:first-child {
  max-width: 688px;
}

.about__text p:last-child {
  max-width: 693px;
}

/* FOOTER */
.footer {
  width: 1100px;
  height: 180px;
  position: relative;
  padding: 0 50px;
}

.footer__address {
  position: absolute;
  left: 51px;
  top: 1px;
  width: 264.5px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0;
}

.footer__menu {
  position: absolute;
  left: 477px;
  top: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.footer__menu-link {
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  text-decoration: none;
}

.footer__menu-link:last-child {
  margin-bottom: 0;
}

.footer__menu-link:not(.footer__menu-link_active) {
  border-bottom: 1px solid currentColor;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  position: absolute;
  left: 810px;
  top: 1px;
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 240px;
  height: 48px;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
